[submodule "extern/libopencm3"]
	path = extern/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
